<div id="master">
<h1>Burgers!</h1>

<h2>To Be Devoured!</h2>

<div id="notEaten">

  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/new_burger devoured=true}}
    {{/unless}}
  {{/each}}

</div>

<h2>Devoured burgers!</h2>

<div id="eaten">

  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/devoured_burgers devoured=false}}
    {{/if}}
  {{/each}}

</div>


<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>


<form class="reset-form">
  <button type="submit">Reset All</button>
</form>
</div>