body {
    text-align: center;
    background-image: url("../img/hamburger.jpg");
    font-family: 'Major Mono Display', monospace;
}

#master {
  background-color: cornsilk;
  margin: 0 auto;
  width: 800px;
  display: block;
  padding: 5px;
  border-radius: 10px;
  font-size: 30px;

}

  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

#mainBox {
  width: 100%;
  display: block;
}

button {
  font-family: 'Major Mono Display', monospace;
  font-size: 20px;
}
